@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Odibee Sans', sans-serif;
    height: 100vh;
    min-height: 95vh;
}
.calc{
    display: flex;
    flex-direction: column;    
    width: fit-content;
    border: 5px solid black;
    
}
.display{
    border: 2px solid black;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Odibee Sans', sans-serif;
    text-align: right;
}
.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.num,.sym{
    flex: 1 0 25%;
    width: 25%;
}

